.loginPage {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    top: 0;
}

.left {
    height : 100vh;
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}
  
  /* Control the right side */
.right {
    height: 100vh;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background, #F5F5F5);
}


.centered {
    position: absolute;
    /* top: 25%;
    left: 50%; */
    text-align: left;
} 

@media (max-width:770px){
    .loginPage{
        display: block;
    }

    .left{
        height : 50vh;
    }
}