button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color : rgba(255,255,255,1);
}

span{
    padding-left : 20px;
}